body { /*bodyではWebページ全体に関するスタイルを設定*/
    background-color: #f0f0f0; /*ページの背景色を「薄いグレー」に指定*/
    font-family: Arial, sans-serif; /*ページ全体の文字のフォントを指定.最初に Arial を使い、もし使えなければ代わりにサンセリフ体を使う。*/
    margin: 0; /*ページ全体の余白をゼロに。ブラウザはデフォルトで余白を付けるため、それを消してデザインを整えやすくしている。*/
    padding: 0; /*ページ全体の内側の余白もゼロにしている*/
}

header { /*ページの「ヘッダー部分」に関するスタイル*/
    background-color: #333; /*ヘッダーの背景色を「濃いグレー」に*/
    color: #fff; /*ヘッダー内の文字色を「白」に*/
    padding: 10px 0; /*ヘッダー内の上下に10pxの余白を入れています（左右は0px）*/
    text-align: center; /*ヘッダー内の文字を中央揃えに*/
}